# Node dependencies
.DS_Store
node_modules

# Wrangler state and secrets
.wrangler/
*-lock.*
*.lock
*.log

# IDE specific files
.vscode/
*.swp

# Optional: Ignore build artifacts if you ONLY want the root worker.js
# dist/
